// colors
$white: rgb(255,255,255);
$black: rgb(0, 0, 0);
$sub-panel-background-color: rgb(109, 109, 109);
$panel-background-color: rgb(99, 98, 98);

// arrays
$icons: 'pen', 'circle', 'square', 'rect', 'ellipse', 'grid',
        'trash-can', 'save';